{% extends 'base.html' %}
{% block title %}Client Details{% endblock %}
{% block body %}

    <section class="jumbotron" style="background-color: transparent">
    {% if not msg == '' %}
        <div class="alert alert-info">
            <strong>NB!</strong> {{ msg }}
        </div>
    {% endif %}

        <div class="inner cover">
            <h1 class="cover-heading">{{ client.user.first_name }}</h1>
            <p class="lead">{{ client.user.email }}</p>
            <p class="lead">{{ client.address }}</p>
{#            <p class="lead">#}
{#                <a href="{% url 'admin_charge'%}?id={{ client.id }}" class="btn btn-sm btn-primary">Charge Client</a>#}
{#            </p>#}
            <p class="lead">
                <a href="{% url 'print_invoice' client.id %}" class="btn btn-primary btn-sm">Print Invoice</a>
                <a href="{% url 'email_invoice' client.id %}" class="btn btn-primary btn-sm">Email Invoice</a>
            </p>
            {% if user.is_staff %}
            <p class="lead">
                <a href="{% url 'admin_delete_client' client.id %}" style="background-color: red; color: white" class="btn btn-lg btn-secondary">Delete Client</a>
            </p>
            {% endif %}
        </div>

    </section> {# end of admin buttons section #}

    <h2 style="text-align: center">Work Done for Client</h2>
    <br>
    <div class="table-responsive">

        <table class="table table-bordered" style="width:100%">
            <thead>
            <tr>
                <th style="width:10%">Work ID</th>
                <th style="width:30%">Date</th>
                <th style="width:45%">Description</th>
                <th style="width:15%">Cost</th>
            </tr>
            </thead>
            <tbody>
            {% for work in works %}
                <tr>
                    <td>{{ work.id }}</td>
                    <td>{{ work.date }}</td>
                    <td>{{ work.description }}</td>
                    <td>{{ work.fee }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div> {# End of table div #}

{% endblock %}
